/* General stuff */
body {
    font-family: Consolas, monospace;
    background: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

input {
    padding: 8px 18px;
    border: 1px solid #555;
    border-radius: 4px;
    background: #2d2d2d;
    color: white;
    font-size: 16px;
}

button {
    padding: 8px 8px;
    background: #4a90d9;
    color: white;
    border: 2px solid #1e1e1e;
    border-radius:8px;
    font-size: 16px;
    cursor: pointer;
}

/* Id targeting */
#button_grid {
    display: grid;   
}

#ptable_container {
  display: flex;
  justify-content: center;  
  align-items: stretch;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

#display_box {
    position: relative;
    width: 300px;
    height: auto;
    padding: 12px;

    background-color: #1e1e1e;
    color: #ffffff;

    border: 2px solid #4a90d9;
    border-radius: 10px;

    font-size: 18px;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    overflow: hidden;
}

/* Class targeting */
.element_div {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.element_button {
    position: absolute;
    inset: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.corner {
    position: absolute ;
    margin: 1rem;
}

.corner.top_left     { top: 0;    left: 0; }
.corner.top_right    { top: 0;    right: 0; }
.corner.bottom_left  { bottom: 0; left: 0; }
.corner.bottom_right { bottom: 0; right: 0; }